main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, a {
    font-family: 'Raleway', sans-serif;
}

header, footer {
    text-align: center;
    text-shadow: 0 0 1px #403B30;
    padding: 1px 0;
}

header ul {
    list-style: none;
    padding: 0;
}
header li {
    margin: 10px 0;
}
header i {
    margin-right: 0.5em;
}

.containerproj {
    text-align: center;
}
.html h2, .ps h2 {
    text-align: center;
    padding-top: 0.5em;
}
.proj {
    padding: 20px;
}
img {
    width: 50%;
}
a {
    text-decoration: none;
    color: black;
}
.mc {
    display: flex;
    flex-direction: column;
}
footer a {
    padding: 20px;
}
a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
@media (min-width: 780px) {
    header {
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
    header ul {
        width: 400px;
        display: flex;
        justify-content: space-around;

    }
    .containerproj {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 75%;
    }
    .proj {
        padding: 20px;
        width: 25%;
    }
    .swipebox {
        padding: 20px;
        width: 40%;
    }
    .mc {
        flex-direction: row;
    justify-content: center;
    }

}
